<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cn.poker.admin.modules.poker.dao.WpStrateMapper">
	
	<select id="listForPage" resultType="com.cn.poker.admin.modules.poker.entity.WpStrateEntity" parameterType="com.cn.poker.admin.modules.poker.entity.WpStrateEntity">
		SELECT
			`id`, 
			`pool_type`, 
			`type`, 
			`name`, 
			`price`, 
			`day_count`, 
			`sort`, 
			`create_time`, 
			`update_time`,
		    `status`
		FROM
			wp_strate
		<where>
			<if test="name != null and name.trim() != ''">
				AND name LIKE concat('%',#{name},'%')
			</if>
            <if test="type != null and type != ''">
				AND type = #{type}
			</if>
            <if test="poolType != null and poolType != ''">
				AND pool_type = #{poolType}
			</if>
		</where>
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO wp_strate (
			`pool_type`, 
			`type`, 
			`name`, 
			`price`, 
			`day_count`, 
			`sort`, 
			`create_time`, 
			`update_time`
		)
		VALUES (
			#{poolType}, 
			#{type}, 
			#{name}, 
			#{price}, 
			#{dayCount}, 
			#{sort}, 
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	
	<select id="getObjectById" resultType="com.cn.poker.admin.modules.poker.entity.WpStrateEntity">
		SELECT
			`id`, 
			`pool_type`, 
			`type`, 
			`name`, 
			`price`, 
			`day_count`, 
			`sort`, 
			`create_time`, 
			`update_time`,
			`status`
		FROM
			wp_strate
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE wp_strate
	 	<set>
			<if test="poolType != null">`pool_type` = #{poolType}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="price != null">`price` = #{price}, </if>
			<if test="dayCount != null">`day_count` = #{dayCount}, </if>
			<if test="sort != null">`sort` = #{sort}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			wp_strate
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>