<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cn.poker.admin.modules.poker.dao.WpStrategyDetailMapper">
	
	<select id="listForPage" resultType="com.cn.poker.admin.modules.poker.entity.WpStrategyDetailEntity">
		SELECT
			t.`id`,
			t.`user_id`,
			t.`start_date`,
			t.`end_date`,
			t.`pool_type`,
			t.`type`,
			t.`gold`,
			t.`type_date`,
			t.`create_date`,
			t.`strategy_id`,
			t.`day_count`,
			ws.user_login as userLogin,
			ws.user_email as userEmail,
			ws.user_nicename as userNicename
 		FROM
			wp_strategy_detail t  left join wp_users ws on t.user_id = ws.id
        <where>
            <if test="name != null and name.trim() != ''">
                AND t.user_id in (select id from wp_users where user_login LIKE concat('%',#{name},'%') or user_email LIKE concat('%',#{name},'%') or user_nicename LIKE concat('%',#{name},'%'))
            </if>
        </where>
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO wp_strategy_detail (
			`user_id`, 
			`start_date`, 
			`end_date`, 
			`pool_type`, 
			`type`, 
			`gold`, 
			`type_date`, 
			`create_date`, 
			`strategy_id`, 
			`day_count`
		)
		VALUES (
			#{userId}, 
			#{startDate}, 
			#{endDate}, 
			#{poolType}, 
			#{type}, 
			#{gold}, 
			#{typeDate}, 
			#{createDate}, 
			#{strategyId}, 
			#{dayCount}
		)
	</insert>
	
	<select id="getObjectById" resultType="com.cn.poker.admin.modules.poker.entity.WpStrategyDetailEntity">
		SELECT
			`id`, 
			`user_id`, 
			`start_date`, 
			`end_date`, 
			`pool_type`, 
			`type`, 
			`gold`, 
			`type_date`, 
			`create_date`, 
			`strategy_id`, 
			`day_count`
		FROM
			wp_strategy_detail
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE wp_strategy_detail
	 	<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="startDate != null">`start_date` = #{startDate}, </if>
			<if test="endDate != null">`end_date` = #{endDate}, </if>
			<if test="poolType != null">`pool_type` = #{poolType}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="gold != null">`gold` = #{gold}, </if>
			<if test="typeDate != null">`type_date` = #{typeDate}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="strategyId != null">`strategy_id` = #{strategyId}, </if>
			<if test="dayCount != null">`day_count` = #{dayCount}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			wp_strategy_detail
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

    <select id="userList" parameterType="java.lang.String" resultType="com.cn.poker.admin.modules.poker.entity.User">
        select  t.id as userId,t.user_login as userName,t.user_nicename as nickName from wp_users t
        where t.user_login = #{userName} or t.user_nicename = #{userName} or t.user_email = #{userName}
    </select>

    <select id="packgeList" parameterType="com.cn.poker.admin.modules.poker.entity.Strate" resultType="com.cn.poker.admin.modules.poker.entity.Strate">
        SELECT t.name,t.id
        from wp_strate t
        <where>
            <if test="poolType!=null and poolType!=''">
              and t.pool_type = #{poolType}
            </if>
            <if test="type!=null and type!=''">
            and t.type = #{type}
            </if>
            <if test="name!=null and name!=''">
              and t.name like concat('%',#{name},'%')
            </if>
        </where>
        where t.pool_type = #{poolType} and t.type = #{type} order by id asc
    </select>

</mapper>