<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">姓名<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="姓名" v-model="tPatient.name" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">年龄<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="年龄" v-model="tPatient.age" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">性别<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="性别" v-model="tPatient.sex" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">头像<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="头像" v-model="tPatient.picture" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">病例<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="病例" v-model="tPatient.photo" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">病史<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="病史" v-model="tPatient.history" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">创建时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="创建时间" v-model="tPatient.createTime" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">修改时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="修改时间" v-model="tPatient.updateTime" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/base/patient/edit.js}"></script>
</body>
</html>