<!DOCTYPE html>
<html>
<head th:include="include/header_css::header('欢迎页')"></head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div class="col-sm-12">
        <blockquote  class="bg-info" style="font-size: 14px">
            <h1>德州扑克</h1>
            <h2>德州扑克管理系统欢迎您</h2>
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;《德州扑克游戏》是一款非常经典的德州扑克游戏在线玩，欧美最流行的德州扑克游戏，是有上百年历史的扑克玩法。是一个斗智、斗勇的游戏。
        </blockquote>
        <hr>
    </div>
</div>
</body>
</html>